/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 10px;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

.text-layout {
  color: var(--text-color);
}
